<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>GLAM</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="#" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<script src="https://cdn.tiny.cloud/1/xsqkidrxta3zg6czz7munozzg81prejrityd07h52wl5ixi6/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    
<!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->
<script th:src="@{/js/dropdown.js}"></script>

<!-- MAIN CSS -->
<link rel="stylesheet" href="/../../css/final.css" />
</head>



<body>
	<!-- header -->
	<header class="header">
		<div class="container-fluid">
			<div class="header-box">
				<h4>GLAM</h4>
				<br> <br> <font size='20' face='Freestyle Script'
					color='black'><h1 th:text="${session.adminObj}"></h1></font> <span><a
					th:href="@{/adminLogout}">Log Out</a></span>
			</div>
		</div>
	</header>
	<main class="main">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-2 col-lg-3 col-md-4">
					<!-- sidebar -->
				<section class="sidebar">
						<div class="sidebar-wrap">
							<div class="Heading">
								<h4>Dashboard</h4>
							</div>
						
							<div class="sidebar-item">
								<img src="../images/Icons/store.jpg" alt="icon"
									class="img-fluid" /> <a th:href="@{/storeList}">Stores</a>
							</div>
	<div class="sidebar-item">
								<img src="../images/Icons/domain.jpg" alt="icon" class="img-fluid" />
								<a th:href="@{/domainForm}">Add Domains</a>
							</div>
								<div class="sidebar-item">
								<img src="../images/Icons/service.jpg" alt="icon"
									class="img-fluid" /> <a th:href="@{/service}" class="active">Services</a>
							</div>
							
	<div class="sidebar-item">
								<img src="../images/Icons/combo.jpg" alt="icon" class="img-fluid" />
								<a th:href="@{/combolist}">Combos</a>
							</div>
									<div class="sidebar-item">
								<img src="../images/Icons/news.png" alt="icon"
									class="img-fluid" /> <a th:href="@{/newsdetails}">Latest
									News</a>
								<!--/{id}(id=${newsID}) -->
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/customer.png" alt="icon" class="img-fluid" />
								<a th:href="@{/customerlist}">customers</a>
							</div>
							<div class="sidebar-item">
                                <img src="../images/Icons/inventory.png" alt="icon" class="img-fluid" />
                                <a th:href="@{/productCategoryList}">Inventory</a>

                            </div>
                            <div class="sidebar-item">
								<img src="/../../images/Icons/network.png" alt="icon"
									class="img-fluid" /> <a th:href="@{/vendordetails}">
									Vendors</a>
							</div>

							<div class="sidebar-item">
								<img src="../images/Icons/openings.jpg" alt="icon"
									class="img-fluid" /> <a th:href="@{/openingsList}">Openings
									List</a>
							</div>
								<div class="sidebar-item">
								<img src="../images/Icons/network.png" alt="icon"
									class="img-fluid" /> <a th:href="@{/network}">Social
									Network</a>
							</div>
								<div class="sidebar-item">
								<img src="../images/Icons/aboutus.jpg" alt="icon" class="img-fluid" />
								<a th:href="@{/about}">About us</a>
							</div>
							
							<!-- <div class="sidebar-item">
								<img src="../images/Icons/pprofile.png" alt="icon"
									class="img-fluid" /> <a
									th:href="@{/adminprof/{id}(id=${session.adminID})}">Admin Profile</a>
							</div> -->

						</div>
					</section>
					<!-- sidebar end -->
				</div>

				<!-- header -->



				<!-- main area -->
				<div class="col-lg-10 col-md-8">
					<div class="main-area">
						<!-- page Heading -->
						<div class="page-heading">
							<h1 align="center" th:if="${session.updateSession}==null">Add
								New Service</h1>
							<h1 align="center" th:unless="${session.updateSession}==null">Update
								Service</h1>
						</div>
						<!-- page Heading End -->



						<div class="avaliability-box">
							<div class="form-box">
								<form id="ourCare" th:action="@{/add}" th:object="${ourCare}" enctype="multipart/form-data" novalidate
									method="POST">
									<div class="col-md-6">
										<label for="name"></label> <input type="hidden"
											class="form-control" th:field="*{careID}">
									</div>
									<div class="row">
										<div class="col-md-6">
											<label for="name">Service Name *</label> <input type="text"
												class="form-control" th:field="*{careName}"
												placeholder="Enter Service Name" required>
										</div>

										<div class="col-md-6">
											<label for="sep">Service Type *</label> <input type="text"
												class="form-control" th:field="*{careType}"
												placeholder="Enter Service Type" required>
										</div>
									</div>


									<div class="row">
										<div class="col-md-6">
											<label for="loc">Service Price *</label> <input type="number"
												class="form-control" th:field="*{carePrice}"
												placeholder="Enter Service Price" min="10" max="50000"
												required>
										</div>

										<div class="col-md-6">
											<label for="loc">Service Category *</label>
											<div>
												<select class="form-control" id="careCategory"
													name="careCategory" th:field="*{careCategory}"
													required="required">
													<option th:value="Male" th:text="Male"></option>
													<option th:value="Female" th:text="Female"></option>
													<option th:value="Kids" th:text="Kids"></option>
													<!-- 	<option th:value="others" th:text="others"></option> -->
												</select>
											</div>
										</div>
									</div>


									<div class="row">
										<div class="col-md-6">
											<label for="careDuration">Service Duration (mins) *</label> <input
												type="number" class="form-control" id="careDuration"
												th:field="*{careDuration}"
												placeholder="Enter Service Duration" min="1" max="100000000"
												required>
										</div>





										<div class="col-md-6">
											<label for="loc">Select Store</label> <select
												class="form-control" id="storeID" name="storeID"
												th:field="*{storeID}" required="required"
												onchange="addService(this.value);">
												<option value="-1">Select Store</option>
												<option th:each="storeList:${storeList}" th:value="${storeList.storeID}"
													th:text="${storeList.storeName}" /></option>
											</select>
										</div>
									</div>



									<div class="row">
										<div class="col-md-6">
											<label for="loc">Select Branch </label> <select
												class="form-control" id="branchID" name="branchID"
												th:field="*{branchID}" required="required">

												<option th:each="branchList:${branchList}"
													th:value="${branchList.branchID}"
													th:text="${branchList.branchName}"></option>
											</select>
										</div>
									</div>

									<div class="row">
										<div class="col-md-6">
											<label for="careDescription">Service Description</label>
											<textarea class="form-control" id="careDescription"
												th:field="*{careDescription}" th:text="*{careDescription}"
												placeholder="Enter Service Description"></textarea>
										</div>
									</div>
									<div class="row">
<div class="custom-file mb-4">
<input type="hidden" id="Data" name="Data"
th:value="*{Data}" th:field="*{Data}"></input>

<input type="file" class="custom-file-input" id="Data" th:value="*{Data}" 
name="file" accept="image/png,image/jpng"
required="required"> <label
class="custom-file-label">Choose Image</label>
</div>
</div>
									<div class="row">

										<div class="col-md-6" th:if="${session.updateSession}==null">
											<label for=""></label>
											<button class="btn btn-danger btn-block" id="ourCare"
												type="submit" style="color: black">Add Service</button>
										</div>
										<div class="col-md-6"
											th:unless="${session.updateSession}==null">
											<label for=""></label>
											<button class="btn btn-danger btn-block" id="ourCare"
												type="submit" style="color: black">Update Service</button>
										</div>

									</div>
								</form>
							</div>

						</div>
					</div>


				</div>







			</div>
		</div>
	</main>

<script>
      tinymce.init({
        selector: '#careDescription',
        plugins: [
          'a11ychecker','advlist','advcode','advtable','autolink','checklist','export',
          'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
          'powerpaste','fullscreen','formatpainter','insertdatetime','media','table','help','wordcount'
        ],
        toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +
          'alignleft aligncenter alignright alignjustify | ' +
          'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
      });
    </script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" 
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" 
        crossorigin="anonymous"> </script>

</body>
</html>