<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>GLAM</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="#" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script type="text/javascript">
$(function () {
$('#example').DataTable({
dom: 'Bfrtip',
buttons: [{
extend: 'excel',
text: 'Excel',
className: 'exportExcel',
filename: 'Test_Excel',
exportOptions: { modifier: { page: 'all'} }
},
{
extend: 'pdf',
text: 'PDF',
className: 'exportExcel',
filename: 'Test_Pdf',
exportOptions: { modifier: { page: 'all'} }

},
     { extend: 'copy',
            text: 'Copy ',
            className: 'exportExcel',
            exportOptions: { modifier: { modifier: {    page: 'current'} }  }     
            },
{
extend: 'csv',
text: 'csv ',
exportOptions: {
modifier: {
search: 'none' } } 
}]
});

});
</script>


<!-- <style>
span {background-color: white;}
span a {
text-decoration: none;
color: black;
font-size: 20px;
padding: 15px;
display:inline-block;
}
ul {
display: inline;
margin: 0;
padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background: #555;}
ul li:hover ul {display: block;}
ul li ul {
position: absolute;
width: 150px;
display: none;
}
ul li ul li {
background: #555;
display: block;
}
ul li ul li a {display:block !important;}
ul li ul li:hover {background: #666;}
/*
body {
background-image: url("/images/store2.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
} */
</style> -->
<!-- MAIN CSS -->
<link rel="stylesheet" th:href="@{css/final.css}" />
</head>





<body>
	<!-- header -->
	<header class="header">
		<div class="container-fluid">
			<div class="header-box">
				<h4>GLAM</h4>
				<br>
				<br> <font size='20' face='Freestyle Script' color='black'><h1
						th:text="${session.adminObj}"></h1></font> <span><a
					th:href="@{/adminLogout}">Log Out</a></span>
			</div>
		</div>
	</header>
	<main class="main">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-2 col-lg-3 col-md-4">
					<!-- sidebar -->
			<section class="sidebar">
						<div class="sidebar-wrap">
							<div class="Heading">
								<h4>Dashboard</h4>
							</div>
						
							<div class="sidebar-item">
								<img src="/../../images/Icons/store.jpg" alt="icon"
									class="img-fluid" /> <a th:href="@{/storeList}">Stores</a>
							</div>
	<div class="sidebar-item">
								<img src="/../../images/Icons/domain.jpg" alt="icon" class="img-fluid" />
								<a th:href="@{/domainForm}">Add Domains</a>
							</div>
								<div class="sidebar-item">
								<img src="/../../images/Icons/service.jpg" alt="icon"
									class="img-fluid" /> <a th:href="@{/service}" class="active">Services</a>
							</div>
							
	<div class="sidebar-item">
								<img src="/../../images/Icons/combo.jpg" alt="icon" class="img-fluid" />
								<a th:href="@{/combolist}">Combos</a>
							</div>
							<div class="sidebar-item">
                                <img src="../images/Icons/inventory.png" alt="icon" class="img-fluid" />
                                <a th:href="@{/productCategoryList}">Inventory</a>

                            </div>
                            <div class="sidebar-item">
								<img src="/../../images/Icons/network.png" alt="icon"
									class="img-fluid" /> <a th:href="@{/vendordetails}">
									Vendors</a>
							</div>
                                <div class="sidebar-item">
                                <img th:src="@{images/Icons/subscription.png}" alt="icon"
                                    class="img-fluid" /> <a th:href="@{/subscribersList}">Subscriptions</a>
                            </div>
									<div class="sidebar-item">
								<img src="/../../images/Icons/news.png" alt="icon"
									class="img-fluid" /> <a th:href="@{/newsdetails}">Latest
									News</a>
								<!--/{id}(id=${newsID}) -->
							</div>
							<div class="sidebar-item">
								<img src="/../../images/Icons/customer.png" alt="icon" class="img-fluid" />
								<a th:href="@{/customerlist}">customers</a>
							</div>

							<div class="sidebar-item">
								<img src="/../../images/Icons/openings.jpg" alt="icon"
									class="img-fluid" /> <a th:href="@{/openingsList}">Openings
									List</a>
							</div>
								<div class="sidebar-item">
								<img src="/../../images/Icons/network.png" alt="icon"
									class="img-fluid" /> <a th:href="@{/network}">Social
									Network</a>
							</div>
								<div class="sidebar-item">
								<img src="/../../images/Icons/aboutus.jpg" alt="icon" class="img-fluid" />
								<a th:href="@{/about}">About us</a>
							</div>
							
							<!-- <div class="sidebar-item">
								<img src="../images/Icons/pprofile.png" alt="icon"
									class="img-fluid" /> <a
									th:href="@{/adminprof/{id}(id=${session.adminID})}">Admin Profile</a>
							</div> -->

						</div>
					</section>
				
					<!-- sidebar end -->
				</div>
				<!-- header -->

	<div class="col-lg-10 col-md-8">
					<div class="main-area">
						<!-- page Heading -->
						<div class="page-heading">
							<h1 align="center">Total Appointments</h1>

						</div>






						
								<table class="table table-bordered table-striped" id="example"
									style="background-color: #e6e6fa; color: black; border-radius: 10px">
									<thead>
										<tr>



											<th>Customer Name</th>
											<th>Appointment date</th>
									 <th>CareName</th> 
										   <th>Store Name</th> 
										  <th>Branch Name</th>
								
                                              </tr>
									</thead>
									<tbody>
										 <tr th:each="appointment:${list}">  
											<!-- <td th:text="${store.storeID}"></td> -->
										 <td th:text="${appointment.customerName}"></td>
									<td th:text="${appointment.appointmentDate}"></td>
										<td th:utext="${appointment.careName}"></td>
										<td th:utext="${appointment.storeName}"></td>   
                                        <td  th:text="${appointment.branchName}"></td> 
                                        




                   
									









										</tr>
									</tbody>



								</table>


							</div>

						</div>
					</div>




				</div>










			</div>
		</div>
	</main>
	<!-- <script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
	<script>
$(document).ready( function () {
var table = $('#example').DataTable({

"sAjaxDataProp": "" })
});</script>
 -->
</body>
</html>