<!DOCTYPE html>
<html lang="en">
<head>
<title>Glam customer Portal-addProfile</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="#" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<!-- MAIN CSS -->
<link rel="stylesheet" th:href="@{/../css/final.css}" />
<style>
hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
}
</style>
</head>

<body>
	<!-- header -->
	<header class="header">
		<div class="container-fluid">
			<div class="header-box">
				<h1>Glam</h1>
				<h2 th:text="${session.CustomerObject}"></h2>
				<!--  <h4>You have successfully registered </h4> </h1><h1 th:text="${customerName}"></h1> -->
				<div>
					<a href="/customerLogout">Logout</a>
				</div>
			</div>
	</header>
	<!-- header end -->
	<main class="main">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-2 col-lg-3 col-md-4">
					<!-- sidebar -->
					<section class="sidebar">
						<div class="sidebar-wrap">
							<div class="Heading">
								<h4>Dashboard</h4>
							</div>
							<div class="sidebar-item">
<img src="../images/Icons/appointment-form.png" alt=" icon" class="img-fluid" />
 <a th:href="@{/review/{customerID}(customerID=${customerID})}">Appointments</a> 
<!-- <a th:href="@{/review}">Appointments</a> -->
</div>
<div class="sidebar-item">
<img src="../images/Icons/download.png" alt="icon"
class="img-fluid" /> <a
th:href="@{/selectStore/{customerID}(customerID=${customerID})}" class="active">Rate our Employee</a>
</div>
<div class="sidebar-item">
<img src="../images/Icons/rate employee.jpg" alt="icon"
class="img-fluid" /> <a
th:href="@{/updatedProfile/{customerID}(customerID=${customerID})}">Customer Profile</a>
</div>
						</div>
					</section>
					<!-- sidebar end -->
				</div>
				<!-- main area -->
				<div class="col-lg-10 col-md-8">
					<div class="main-area">


						<!-- page Heading -->
						<div class="page-heading">
							<h1>Payment Form</h1>
						</div>
						<!-- page Heading End -->

						<!-- abailablility -->

						<div class="avaliability-box">
							<div class="form-box">
								<form
									th:action="@{/savePayment/{customerID}/{subscriberID}(customerID=${customerID} ,subscriberID=${subscriber.subscriberID})}"
									method=post th:object="${CustomerObject}" class="form-box">







									<div class="col-md-6">
										<input type="hidden" class="form-control" id="customerID"
											name="customerID" th:value="*{customerID}" th:readonly="true" />
									</div>
									<div class="col-md-12 col-sm-12">
										<input type="hidden" class="form-control" id="password"
											name="password" th:value="*{password}" th:readonly="false" />
									</div>
								
										<div class="col-md-6">
											<input type="hidden" class="form-control" id="email"
												name="customerEmailID" th:value="*{customerEmailID}" th:readonly="false" />
										</div>
										
										
										
										<div class="col-md-6">
											<input type="hidden" class="form-control" id="customerName"
												name="customerName" th:value="*{customerName}" th:readonly="false" />
										</div>
										
										<div class="col-md-6">
											<input type="hidden" class="form-control" id="customerMobile"
												name="customerMobile" th:value="*{customerMobile}" th:readonly="false" />
										</div>
									
										<div class="row">
										<div class="col-md-6">
											 <input
												type="hidden" class="form-control" id="customerLocation"
												name="customerLocation" th:value="*{customerLocation}" required="required" />
										</div>
										<div class="col-md-6">
											 <input
												type="hidden" class="form-control" id="gender" name="gender"
												th:value="*{gender}" required="required" />
										</div>
									</div>
										
										
									</div>
									
									
									<h style="margin-left: 20px; font-weight: 600;">
									Customer Name: <Strong
										th:text="${CustomerObject.customerName}" 
										></Strong> </h>
										<br><h style="margin-left: 20px; font-weight: 600;">
									Mobile Number: <Strong
										th:text="${CustomerObject.customerMobile}" ></Strong> </h>
										<br>

									<h style="margin-left: 20px; font-weight: 600;">
									Subscription Type: <Strong
										th:text="${subscriber.subscriptionType}"></Strong> </h>
										<br>
										
										<h style="margin-left: 20px; font-weight: 600;">
									Total Amount: <Strong
										th:text="${subscriber.Price}"></Strong> </h>

									

									<!-- 	<div class="row">
								<div class="col-md-6">
									 <input type="hidden"id="subscriberID" name="subscriberID"
												th:field="*{subscriberID}" 
										
								th:text="${subscriptionList.subscriptionType}"
										th:value="${subscriptionList.Price}"
									
										placeholder="Enter Service Price" min="10" max="50000"
										>
								</div>
							
							</div> -->


									<!--  <h2>Please enter and upload the information needed given below</h2> -->

									<div class="row">
										<div class="col-md-6">
											<input type="hidden" class="form-control" id="location"
												name="location" th:value="*{location}" />
										</div>
										<div class="col-md-6">
											<input type="hidden" class="form-control" id="gender"
												name="gender" th:value="*{gender}" />
										</div>
									</div>




									<div class="row">

										<div class="col-md-6">
											<button type="submit" style="color: black"
												class="btn btn-danger btn-block">
												<!--  Upload Your Profile-->
												Pay Now
											</button>
										</div>

									</div>
								</form>
							</div>
						</div>

						<!-- 	<section >
	
			<h2 class="wow fadeInUp" align="center" data-wow-delay="0.1s">
				 Terms and Conditions</h2>
		</div>
		<hr>
		
			slider
				<div th:each="subscriptionList:${subscriber}">
					<div class="slider-self">
					<div class="slider-inside-box">
					<div class="news-thumb wow fadeInUp" data-wow-delay="0.2s">	
							<div class="team-info">
								<h3 th:text="${subscriptionList.subscriptionType}"></h3> 
			
									<h style="margin-left: 20px; font-weight: 600;"> 
										<h6 th:utext="${subscriptionList.Description}"> </h6></h>
								
								
									<span class="plus-box"></span>
							</div>
						</div>
					</div></div>
				</div>
			</div>
		</div></div>		
	</section> -->
						<hr>
						<!-- abailablility -->
					</div>
				</div>
			</div>
			<!-- main area end -->
		</div>
	</main>

	<!-- SCRIPTS -->
	<script src="../js/jquery.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<!-- <script src="../js/jquery.sticky.js"></script>
    <script src="../js/jquery.stellar.min.js"></script>
    <script src="../js/wow.min.js"></script>
    <script src="../js/smoothscroll.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="./assets/js/script.js"></script> -->
</body>
</html>
