<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
    <title>GLAM Admin</title>
    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="#" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <!-- MAIN CSS -->
<link rel="stylesheet" th:href="@{css/final.css}" />
  </head>

  <body>
    <!-- header -->
    <header class="header">
      <div class="container-fluid">
        <div class="header-box">
     <h4>GLAM</h4><br><br>
<font size='20'face='Freestyle Script'color='black'><h1 th:text="${session.adminObj}"></h1></font>
          
    <span><a th:href="@{/adminLogout}">Log Out</a></span>
        </div>
      </div>
    </header>
    <!-- header end -->
    <main class="main">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-2 col-lg-3 col-md-4">
            <!-- sidebar -->
    <section class="sidebar">
						<div class="sidebar-wrap">
							<div class="Heading">
								<h4>Dashboard</h4>
							</div>
						
							<div class="sidebar-item">
								<img src="../images/Icons/store.jpg" alt="icon"
									class="img-fluid" /> <a th:href="@{/storeList}">Stores</a>
							</div>
	<div class="sidebar-item">
								<img src="../images/Icons/domain.jpg" alt="icon" class="img-fluid" />
								<a th:href="@{/domainForm}">Add Domains</a>
							</div>
								<div class="sidebar-item">
								<img src="../images/Icons/service.jpg" alt="icon"
									class="img-fluid" /> <a th:href="@{/service}" class="active">Services</a>
							</div>
							
	<div class="sidebar-item">
								<img src="../images/Icons/combo.jpg" alt="icon" class="img-fluid" />
								<a th:href="@{/combolist}">Combos</a>
							</div>
									<div class="sidebar-item">
								<img src="../images/Icons/news.png" alt="icon"
									class="img-fluid" /> <a th:href="@{/newsdetails}">Latest
									News</a>
								<!--/{id}(id=${newsID}) -->
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/customer.png" alt="icon" class="img-fluid" />
								<a th:href="@{/customerlist}">customers</a>
							</div>
                            <div class="sidebar-item">
								<img src="/../../images/Icons/network.png" alt="icon"
									class="img-fluid" /> <a th:href="@{/vendordetails}">
									Vendors</a>
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/openings.jpg" alt="icon"
									class="img-fluid" /> <a th:href="@{/openingsList}">Openings
									List</a>
							</div>
								<div class="sidebar-item">
								<img src="../images/Icons/network.png" alt="icon"
									class="img-fluid" /> <a th:href="@{/network}">Social
									Network</a>
							</div>
								<div class="sidebar-item">
								<img src="../images/Icons/aboutus.jpg" alt="icon" class="img-fluid" />
								<a th:href="@{/about}">About us</a>
							</div>
							
							<!-- <div class="sidebar-item">
								<img src="../images/Icons/pprofile.png" alt="icon"
									class="img-fluid" /> <a
									th:href="@{/adminprof/{id}(id=${session.adminID})}">Admin Profile</a>
							</div> -->

						</div>
					</section>
            <!-- sidebar end -->
          </div>
          <!-- main area -->
          <div class="col-lg-10 col-md-8">
            <div class="main-area">
              <!-- page Heading -->
              <div class="page-heading">
                <h1>Admin Profile</h1>
              </div>
              <!-- page Heading End -->

              <!-- abailablility -->

              <div class="avaliability-box">
                <div class="form-box">
                <form th:action="@{/update}" class="modal-form" method="GET"
									th:object="${data}">

                   
                     <div>
									<input type="hidden"  id="adminID1"
										name="adminId" th:value="*{adminID}"></input>
								<input type="hidden" id="adminEmail" name="adminEmail" th:value="*{adminEmail}"></input>
                                    </div>
                   
                    
                    <div class="row">
                       		<div class="col-md-6">
											<label for="name">Name</label> <input type="text"
												class="form-control" placeholder="Enter Your Name"
												name="adminName" th:value="*{adminName}">
						</div>
										<div class="col-md-6">
											<label for="name">Mobile Mobile</label> <input type="tel"
												class="form-control" placeholder="Enter Your Number"
												name="adminMobile" th:value="*{adminMobile}" required minlength="6" maxlength="10">
						</div>
                    </div>
                    <div class="row">
                      
                      <div class="col-md-6">
                        <label for=""></label>
                        <button class="btn btn-danger btn-block" type="submit" style="color: black">
                          Update Your Profile
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <!-- abailablility -->
            </div>
          </div>
        </div>
        <!-- main area end -->
      </div>
    </main>

    <!-- SCRIPTS -->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>

  </body>
</html>